# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build
/build/
/bin/
/dist/

# Vendor
/vendor/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Config
config/config.yaml
.env

# Docker
*.pid
docker-compose.override.yml

# Swag docs
/docs/swagger*
